.header {
   display: flex;
   justify-content: space-between;
   background-color: #f0ffff;
   border-radius: 5px;
   height: 100px;
   align-items: center;
   h1 {
      padding: 0 0 0 20px;
   }
}
