.desk {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   p {
      text-align: center;
   }
   @media (max-width: 767px) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   }
   @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   }
}
